###############################################################################
## Bazel Configuration Flags
##
## `.bazelrc` is a Bazel configuration file.
## https://bazel.build/docs/best-practices#bazelrc-file
###############################################################################
###############################################################################
## Incompatibility flags
###############################################################################

# https://github.com/bazelbuild/bazel/issues/8195
build --incompatible_disallow_empty_glob=true

# https://github.com/bazelbuild/bazel/issues/23043.
build --incompatible_autoload_externally=

# https://github.com/bazelbuild/bazel/issues/12821
build --nolegacy_external_runfiles

###############################################################################
###############################################################################

# Disable network access in sandboxes by default.
build --sandbox_default_allow_network=false

# Enable helm linting. Note that workspaces loading `rules_helm` will need to
# use the fully qualified aspect path: `@rules_helm//helm:defs.bzl%helm_lint_aspect`
build:strict --aspects=//helm:helm_lint.bzl%helm_lint_aspect
build:strict --output_groups=+helm_lint_checks

# Used for populating stamp data
build --enable_platform_specific_config
build:linux --workspace_status_command=tools/workspace_status.sh
build:macos --workspace_status_command=tools/workspace_status.sh
build:windows --workspace_status_command=tools/workspace_status.bat

# A configuration for disabling bzlmod.
common:no-bzlmod --noenable_bzlmod --enable_workspace

# Disable the bzlmod lockfile, so we don't accidentally commit MODULE.bazel.lock
common --lockfile_mode=off

###############################################################################
## Custom user flags
##
## This should always be the last thing in the `.bazelrc` file to ensure
## consistent behavior when setting flags in that file as `.bazelrc` files are
## evaluated top to bottom.
###############################################################################

try-import %workspace%/user.bazelrc
