# git ignore patterns

# Bazel
/bazel-*
user.bazelrc

# Helm
# Dependency charts are not checked in and are instead handled by Bazel.
**/charts/**
# Lock files are not used by Bazel. Instead, lock information is required by repository rules
Chart.lock
.idea/

# Running `helm_lint_test` or `helm_template_test` targets creates _tmp/:
_tmp/
